<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="group.zerry.api_server.dao.FriendDao">

	<resultMap id="FriendMap" type="Friend">
		<result property="user_id" column="user_id" />
		<result property="friend_id" column="friend_id" />
		<result property="group_id" column="group_id" />

	</resultMap>

	<select id="selectFriendsByNickname" parameterType="string"
		resultType="Friend">
		SELECT
		user_id,
		friend_id,
		'group'
		FROM
		friend,
		user_inf
		WHERE
		id =
		user_id
		AND nickname = #{nickname}
	</select>

	<select id="selectFriendsByGroupname" parameterType="string"
		resultType="string">
		SELECT
		nickname
		FROM
		user_inf
		WHERE
		id IN (
		SELECT
		friend_id
		FROM
		friend,
		user_inf
		WHERE
		username = #{0}
		AND user_id = id
		AND groupname = #{1}
		)
	</select>

	<select id="selectGroupsByUsername" parameterType="string"
		resultType="string">
		SELECT DISTINCT
		groupname
		FROM
		friend,
		user_inf
		WHERE
		username =
		#{0}
		AND user_id = id
	</select>
</mapper>