
* {
    margin: 0px;
    padding: 0px;
}

.main {
    width: 1000px;
    margin: 0px auto;
    margin-top: 27px;
}

.bg{
    width: 100%;
    height: 100%;
    /*background: url(../images/bg1_m.jpg) repeat-y;*/
    background-color: #70bdef;
    position: fixed;
    z-index: -1;
}

    .top {
        width: 100%;
        height: 50px;
        background: url(../images/top_bg.jpg) repeat-x;
        position: fixed;
        top: 0;
        left: 0;
    }

    .top_content {
        width: 1000px;
        margin: 0 auto;
        line-height: 27px;
    }
    .top_content li {
        float: left;
        list-style-image: url(../images/arrow.jpg);
        width: 90px;
    }
    .search_text {
        margin-left: 500px;
        width: 150px;
        margin-top: 1px;
        height: 19px;
        background: url(../images/search.jpg) no-repeat right center;
        background-color: white;
        padding-right: 25px;
    }

.left_content {
    display: inline-block;
    float: left;
    border: 1px solid #786F66;
    width: 69%;
    border-radius: 5px 0px 0px 5px;
    background: #fff;
}

.right_content {
    display: inline-block;
    float: right;
    border: 1px solid #786F66;
    width: 30%;
    border-radius: 0px 5px 5px 0px;
    background: #c9f1ff;
}

.post_message {
    border-bottom: 1px solid #786F66;
    padding:0 30px 10px;
}

.message_content{
    width: 98%;
    height: 63px;
    resize:none;
    padding: 3px 1%;
    overflow-y:hidden;
    border-radius: 3px 3px 0 0;
    border-color: #d0d0d0;
}

.weiboinfo {
    height: 300px;
}

#userinfo{
    width: 92%;
    margin: 5px 3%;
}

#userinfo img{
    width: 100px;
    height: 100px;
    margin-left: 25px;
}

#nickname{
    font-size: 20px;
    float: right;
    width: 100px;
    text-align: center;
    height: 27px;
    line-height: 27px;
    margin-right: 40px;
}

#nickname a,.msgBox .username a{
    text-decoration: none;
    color: #006a92;
}

#nickname a:hover,#nickname a:active,.msgBox .username a:hover,.msgBox .username a:active,.msgBox .info a:hover,.msgBox .info a:active{
    text-decoration: underline;
}

.user_account{
    margin-top: 5px;
    border-top: 1px solid #ccc;
    height: 40px;
/*    background: #b6dfef;*/
    padding-top: 3px;
    padding-left: 30px;
}

.user_account li{
    width: 80px;
    height: 36px;
    float: left;
    text-align: center;
    list-style-type: none;
    line-height: 36px;
    color: #006a92;
    /*border-right: 1px solid #000;*/
    padding:0px 10px;
    cursor: pointer;
 }

#friend_num:hover, #message_num:hover{
    text-decoration: underline;
}

#messages{
/*    height: 500px;*/
}

.messages_class{
    width: 580px;
    height: 30px;
    margin: 0 auto;
}

.messages_class ul{
    height: 30px;
}
/*选项卡*/
.messages_class li{
    width: 70px;
    height: 30px;
    float: left;
    margin-left: 10px;
    text-align: center;
    list-style-type: none;
    line-height: 30px;
    font-size: 15px;
    color: #666;
    cursor: pointer;
}

/*选项卡经过样式*/
.messages_class .hover{
    border-bottom: 3px solid #e4e4e4;
    height: 27px;
}

/*选项卡选中样式*/
.messages_class .on{
    color: #333;
    border-bottom: 3px solid #229bd7;
    height: 27px;
}

.weibolist{
    border-top: 1px solid #e4e4e4;
}

.weibolist ul{
    list-style: none;
    padding: 0px 20px;
}

.weibolist ul li{
 /*  height: 300px;*/
    height: auto;
    border-bottom: 1px dashed #e4e4e4;
    position: relative;
/*    background: #ccc;*/
}

.weibolist .weiboinfo .userPic{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 30px;
    left: 44px;
    margin-right: 5px;
}

.weibolist .weiboinfo .userPic img{
    width: 60px;
    height: 60px;
    background: #ccc;
}

.msgBox{
    width: 515px;
    position: absolute;
    top: 20px;
    left: 120px;
}

.msgBox .username{
    height: 30px;
    line-height: 30px;
}

.msgBox .username a{
    font-weight: bold;
    font-size: 18px;
}

.msgBox .txt{
    line-height: 30px;
    font-size: 16px;
}

.msgBox .info{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #759aad;
}

.msgBox .info a{
    color: #759aad;
    text-decoration: none;
}

.msgBox .comtxt{
    display: block;
}

.msgBox .comtxt .comarea{
    resize:none;
    width: 98%;
    overflow-y:hidden;
}


